@font-face {
    font-family: "Roboto-Thin";
    src: url(./Roboto-Thin.ttf);
    font-weight: 100;
    font-style: normal
}

body {
    background-image: url(./img/KoreanFriedChicken.jpeg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    font-family: "Roboto-Thin";
    font-weight: 100;
    white-space: pre-wrap;
}

#navBar {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: rgba(161, 161, 161, 0.3);
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.4);
}

#homepage,
#menu {
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

#artisan {
    background-color: rgba(161, 161, 161, 0.3);
    color: white;
    text-align: center;
    font-size: 42px;
    padding: 30px 60px;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

img {
    object-fit: cover;
    width: 160px;
}

.food {
    background-color: rgba(161, 161, 161, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.4);
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 200px 0 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

#container-KoreanFriedChicken,
#container-Potstickers,
#container-KoreanTacos,
#container-ChickenKatsu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 20px
}

#img-Potstickers {
    margin-top: 80px;
}

img[id="img-Korean Tacos"]{
    margin-top: 90px;
}

img[id="img-Chicken Katsu"]{
    margin-top: 60px;
}

#container-location {
    background-color: rgba(161, 161, 161, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 30px 100px;
    margin: 200px 0 0;
    font-size: 30px;
}

#phoneNumber {
    margin: 20px 0;
}

#hours-heading {
    margin: 20px 0 0 0;
}

.Monday-Thursday,
.Friday,
.Saturday,
.Sunday {
    display: flex;
    flex-wrap: wrap;
}

#Monday-ThursdayID {
    padding: 0 20px 0 0;
}

#FridayID {
    padding: 0 178px 0 0;
}

#SaturdayID {
    padding: 0 142px 0 0;
}

#SundayID {
    padding: 0 160px 0 0;
}